### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is an organized collection of structured data that is stored and accessed electronically. Databases are used to store and manage large amounts of data efficiently and reliably.

#### SQL - it stands for Structured Query Language, it stored data in RDBMS (Realtional database management system) which means data is stored in table format(like rows and columns).SQL databases use a structured data model where data is stored in tables with predefined columns and data types

#### NoSQL - it stands for Not only SQL, means  NoSQL databases use a flexible schemaless data model where data can be stored in various formats, such as documents, key-value pairs, or graphs.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

#### DDL stands for Data Defination Language.
#### CREATE command is used for creating a Table or Creating a Database. The example is given below:

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "root"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if NOT EXISTS TEST1")
mydb.close()

#### ALTER This statement is used to make changes to an existing table, such as adding or dropping columns, modifying column data types or constraints, and renaming the table.

#### TRUNCATE statement is used to remove all data from a table while preserving the table structure. The TRUNCATE is used to delete all data in a table without deleting the table itself.

#### DROP statement is used to remove database objects such as tables, views, indexes, or constraints. The DROP statement is used to remove database objects and their associated data from a database.

In [6]:
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "root"
)
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE TEST1")
mydb.close()

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

###  Q4. What is DQL? Explain SELECT with an example.

### Q5. Explain Primary Key and Foreign Key

### Q6 . Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### Q7  Give the order of execution of SQL clauses in an SQL query.