### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is an organized collection of structured data that is stored and accessed electronically. Databases are used to store and manage large amounts of data efficiently and reliably.

#### SQL - it stands for Structured Query Language, it stored data in RDBMS (Realtional database management system) which means data is stored in table format(like rows and columns).SQL databases use a structured data model where data is stored in tables with predefined columns and data types

#### NoSQL - it stands for Not only SQL, means  NoSQL databases use a flexible schemaless data model where data can be stored in various formats, such as documents, key-value pairs, or graphs.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

#### DDL stands for Data Defination Language.
#### CREATE command is used for creating a Table or Creating a Database. The example is given below:

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "root"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if NOT EXISTS TEST1")
mydb.close()

#### ALTER This statement is used to make changes to an existing table, such as adding or dropping columns, modifying column data types or constraints, and renaming the table.

#### TRUNCATE statement is used to remove all data from a table while preserving the table structure. The TRUNCATE is used to delete all data in a table without deleting the table itself.

#### DROP statement is used to remove database objects such as tables, views, indexes, or constraints. The DROP statement is used to remove database objects and their associated data from a database.

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "root"
)
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE TEST1")
mydb.close()

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

#### DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in relational databases. DML statements are used to add, modify, and delete data from tables in a database

### Insert

In [3]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("insert into test_db.table_1 values(123,'harry',213.23,233,'leon')")
mydb.commit()
mydb.close()

### Update

In [4]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("update test_db.table_1 set c1 = 'Har' where c4 = 123")
mydb.commit()
mydb.close()

### Delete

In [5]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("delete from test_db.table_1 where c4=233")
mydb.commit()
mydb.close()

###  Q4. What is DQL? Explain SELECT with an example.

#### DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to search for and extract data from tables in a database.Here is an example of a DQL statement using the SELECT statement:

In [6]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("select * from test_db.table_1")
data = mycursor.fetchall()
for i in data:
    print(i)
mydb.close()
mycursor.close()

(1233, 'harry', 243.23, 2, 'leon')
(1222, 'rohan', 253.23, 33, 'FGS')
(1237, 'Tom', 213.43, 2332, 'jkdsk')
(1232, 'Harvy', 412.23, 213, 'sds')
(1252, 'John', 2233.23, 22, 'SDM')

True

### Q5. Explain Primary Key and Foreign Key

#### Primary key and foreign key are two important concepts in relational database design. They are used to establish relationships between tables in a database.

#### A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It is used to enforce entity integrity, meaning that each row in the table represents a unique entity or object. Primary keys must be unique and cannot be null. A table can have only one primary key.

#### For example, in a table of employees, the "employee_id" column might be used as the primary key since it uniquely identifies each employee.

#### A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to enforce referential integrity, meaning that each row in the referencing table corresponds to a valid row in the referenced table. Foreign keys can be null, meaning that a row in the referencing table might not have a corresponding row in the referenced table.

#### For example, in a table of orders, the "customer_id" column might be a foreign key that refers to the "customer_id" column in a table of customers. This ensures that each order corresponds to a valid customer.

In [7]:
import mysql.connector

# Connect to the database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="test_db"
)

# Create a cursor object
cursor = conn.cursor()

# Create the customers table with a primary key
cursor.execute("CREATE TABLE if not exists customers (customer_id INT PRIMARY KEY, name VARCHAR(50), email VARCHAR(50))")

# Create the orders table with a foreign key
cursor.execute("CREATE TABLE if not exists orders (order_id INT PRIMARY KEY, customer_id INT, order_date DATE, FOREIGN KEY (customer_id) REFERENCES customers(customer_id))")

# Insert data into the customers table
cursor.execute("INSERT INTO customers (customer_id, name, email) VALUES (1, 'John Smith', 'john.smith@example.com')")
cursor.execute("INSERT INTO customers (customer_id, name, email) VALUES (2, 'Jane Doe', 'jane.doe@example.com')")

# Insert data into the orders table
cursor.execute("INSERT INTO orders (order_id, customer_id, order_date) VALUES (1, 1, '2023-04-25')")
cursor.execute("INSERT INTO orders (order_id, customer_id, order_date) VALUES (2, 2, '2023-04-26')")

conn.commit()
cursor.close()
conn.close()

In [8]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("select * from test_db.customers")
data = mycursor.fetchall()
for i in data:
    print(i)
mydb.close()
mycursor.close()

(1, 'John Smith', 'john.smith@example.com')
(2, 'Jane Doe', 'jane.doe@example.com')

True

### Q6 . Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### In SQL, a cursor is a mechanism for traversing the results of a SELECT statement one row at a time.
#### The execute() method is used to execute SQL commands in Python. 
#### The cursor() method is used to create a cursor object, which allows us to execute SQL statements and traverse the result set. Here's an example of how to use the cursor() and execute() methods in Python with the sql.connector module:

In [9]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
user='root',
password='root'
)
mycursor = mydb.cursor()
mycursor.execute("select * from test_db.customers")
data = mycursor.fetchall()
for i in data:
    print(i)
mydb.close()
mycursor.close()

(1, 'John Smith', 'john.smith@example.com')
(2, 'Jane Doe', 'jane.doe@example.com')

True

### Q7  Give the order of execution of SQL clauses in an SQL query.

#### The order of execution of SQL clauses in a query generally follows the order below:

#### 1. FROM - This clause specifies the table(s) that will be used in the query.

#### 2. JOIN - This clause is used to combine rows from two or more tables based on a related column between them.

#### 3. WHERE - This clause is used to filter the rows returned by the query based on a specific condition.

#### 4. GROUP BY - This clause is used to group the results of a query by one or more columns.

#### 5. HAVING - This clause is used to filter the results of a GROUP BY clause based on a specific condition.

#### 6. SELECT - This clause is used to select the columns that will be returned by the query.

#### 7. DISTINCT - This clause is used to remove duplicate rows from the results of a query.

#### 8. ORDER BY - This clause is used to sort the results of a query by one or more columns.

#### 9. LIMIT - This clause is used to limit the number of rows returned by the query.

#### It's worth noting that not all of these clauses are required in every SQL query, and they can be combined in different ways depending on the specific query being executed. However, this order of execution provides a general guideline for understanding how SQL queries are processed.