### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

#### MongoDB is a popular document-oriented NoSQL database system that is designed to store and manage large volumes of unstructured data. It uses a JSON-like document format to store data, which makes it easy to work with for developers. MongoDB is known for its scalability, flexibility, and high-performance features, making it a popular choice for modern applications.

#### Non-relational databases, also known as NoSQL (Not only SQL) databases, are databases that store data in a format other than tabular relations used in traditional relational databases. NoSQL databases are designed to handle unstructured data such as multimedia, social media, and big data. They are known for their flexibility, scalability, and high-performance features, making them ideal for handling large volumes of unstructured data.

#### MongoDB is preferred over SQL databases in scenarios where:

#### High scalability is required: MongoDB's distributed architecture makes it easy to scale horizontally, making it an excellent choice for handling high volumes of data and traffic.

#### Rapid development and prototyping: MongoDB's flexible document-oriented data model allows developers to quickly prototype and develop applications, without having to worry about schema design.

#### Real-time analytics and reporting: MongoDB's high-performance features make it an excellent choice for real-time analytics and reporting.

#### Flexible data schema: MongoDB's flexible data schema allows developers to easily modify data models and add new fields, making it easy to work with for agile development teams.

#### Overall, MongoDB is an excellent choice for modern applications that require high scalability, flexibility, and performance. However, it may not be suitable for all applications, and it's important to evaluate the specific requirements of your project before choosing a database system.

### Q2. State and Explain the features of MongoDB.

#### MongoDB is a document-oriented NoSQL database that is designed for scalability, performance, and high availability. Some of the key features of MongoDB include:

#### Document-oriented: MongoDB stores data in flexible, JSON-like documents, which allows for easy integration with applications and faster development cycles.

#### Scalability: MongoDB is designed to scale horizontally across multiple machines, allowing it to handle large amounts of data and high levels of traffic.

#### High availability: MongoDB supports replication and sharding, which ensure that data is always available and can handle failures without any downtime.

#### Indexing: MongoDB supports flexible indexing options, including geospatial indexes, text indexes, and compound indexes, which allow for fast and efficient queries.

#### Aggregation: MongoDB supports a powerful aggregation framework that allows developers to perform complex queries and data transformations.

#### Flexibility: MongoDB is schema-less, which means that data can be added or modified without requiring changes to the database schema.

#### Performance: MongoDB is designed to deliver high performance with low latency, making it ideal for use in real-time applications and big data processing.

#### Overall, MongoDB provides a powerful and flexible platform for storing and processing data, and its features make it well-suited for a wide range of use cases, from web applications to big data analytics.

### Q3 Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Harry95:Happy12345@cluster0.uqopdhq.mongodb.net/?retryWrites=true&w=majority")
db = client.test

### Creating a Database

In [2]:
db = client['db2']

### Creating and adding a collection

In [3]:
data = {
    'name': 'python',
    'type':'Programming',
    'Course':'Python Bootcamp',
    'Fee':122211
}

In [4]:
coll_db1 = db["mydata"]

### Inserting into collection

In [5]:
coll_db1.insert_one(data)

### Q4  Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

### Insert One Record

In [6]:
st_data = {
   'name':'Harry',
    'class':'Masters',
    'student_id':232,
    'skills':'Programming'
}
coll_db1.insert_one(st_data)

### Insert Many Record

In [7]:
data2 =[
    { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [8]:
coll_db1.insert_many(data2)

### find_one()

In [9]:
coll_db1.find_one()

{'_id': ObjectId('6447d88449453dbf454be49f'),
 'name': 'python',
 'type': 'Programming',
 'Course': 'Python Bootcamp',
 'Fee': 122211}

### find()

In [10]:
for i in coll_db1.find():
    print(i)

{'_id': ObjectId('6447d88449453dbf454be49f'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}
{'_id': ObjectId('6447e0ca49453dbf454be4a0'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('6447e10b49453dbf454be4a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6447e10b49453dbf454be4a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6447e10b49453dbf454be4a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6447e10b49453dbf454be4a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6447e10b49453dbf454be4a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6447e10b49453dbf454be4a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6447e10b49453dbf454be4a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6447e10b49453dbf454be4a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6447e10b49453dbf454be4a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6447e10b49453dbf454be4aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6447e10b49453dbf454be4ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6447e10b49453dbf454be4ac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644a53bfeb72d4dd8b492d28'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}
{'_id': ObjectId('644a53c1eb72d4dd8b492d29'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d30'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d31'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d32'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d33'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d34'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d35'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q5 Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

### The find() method is one of the most commonly used methods for querying data in MongoDB. It allows us to retrieve data from a specific collection based on certain criteria. Below is example given to demonstrate this concept:

In [11]:
for i in coll_db1.find():
    print(i)

{'_id': ObjectId('6447d88449453dbf454be49f'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}
{'_id': ObjectId('6447e0ca49453dbf454be4a0'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('6447e10b49453dbf454be4a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6447e10b49453dbf454be4a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6447e10b49453dbf454be4a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6447e10b49453dbf454be4a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6447e10b49453dbf454be4a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6447e10b49453dbf454be4a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6447e10b49453dbf454be4a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6447e10b49453dbf454be4a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6447e10b49453dbf454be4a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6447e10b49453dbf454be4aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6447e10b49453dbf454be4ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6447e10b49453dbf454be4ac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644a53bfeb72d4dd8b492d28'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}
{'_id': ObjectId('644a53c1eb72d4dd8b492d29'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d30'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d31'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d32'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d33'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d34'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d35'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [12]:
query = {'name':'Amy'}
for i in coll_db1.find(query):
    print(i)

{'_id': ObjectId('6447e10b49453dbf454be4a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2a'), 'name': 'Amy', 'address': 'Apple st 652'}

### Q6 Explain the sort() method. Give an example to demonstrate sorting in MongoDB

####  Sort () : This method in MongoDB is used to sort the results of a query in ascending or descending order based on one or more fields. This method takes one or more fields as arguments and sorts the results based on those fields.Example is given below:

####  Sort () using one arguments

In [13]:
result = coll_db1.find().sort("name", pymongo.ASCENDING)
for i in result:
    print(i)

{'_id': ObjectId('6447e10b49453dbf454be4a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6447e10b49453dbf454be4a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d32'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6447e10b49453dbf454be4a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6447e10b49453dbf454be4ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d34'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6447e10b49453dbf454be4a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6447e0ca49453dbf454be4a0'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('644a53c1eb72d4dd8b492d29'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('6447e10b49453dbf454be4a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6447e10b49453dbf454be4a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6447e10b49453dbf454be4a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6447e10b49453dbf454be4a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d30'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6447e10b49453dbf454be4a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d31'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6447e10b49453dbf454be4ac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d35'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6447e10b49453dbf454be4aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d33'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6447d88449453dbf454be49f'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}
{'_id': ObjectId('644a53bfeb72d4dd8b492d28'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}

####  Sort () using more than one arguments

In [14]:
for i in coll_db1.find().sort([('name',pymongo.ASCENDING),('address',pymongo.DESCENDING)]):
    print(i)

{'_id': ObjectId('6447e10b49453dbf454be4a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6447e10b49453dbf454be4a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d32'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6447e10b49453dbf454be4a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6447e10b49453dbf454be4ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d34'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6447e10b49453dbf454be4a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6447e0ca49453dbf454be4a0'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('644a53c1eb72d4dd8b492d29'), 'name': 'Harry', 'class': 'Masters', 'student_id': 232, 'skills': 'Programming'}
{'_id': ObjectId('6447e10b49453dbf454be4a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6447e10b49453dbf454be4a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6447e10b49453dbf454be4a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d2d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6447e10b49453dbf454be4a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d30'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6447e10b49453dbf454be4a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d31'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6447e10b49453dbf454be4ac'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d35'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6447e10b49453dbf454be4aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644a53c2eb72d4dd8b492d33'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6447d88449453dbf454be49f'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}
{'_id': ObjectId('644a53bfeb72d4dd8b492d28'), 'name': 'python', 'type': 'Programming', 'Course': 'Python Bootcamp', 'Fee': 122211}

### Q7  Explain why delete_one(), delete_many(), and drop() is used

#### In MongoDB, the delete_one(), delete_many(), and drop() methods are used to remove documents or entire collections from a database.

#### delete_one() method is used to delete a single document that matches the specified filter criteria. If multiple documents match the filter, only the first matching document is deleted.

####  delete_many() method is used to delete all documents that match the specified filter criteria. If no documents match the filter, no documents are deleted.

####  drop() method is used to delete an entire collection, including all documents and indexes. This operation is irreversible and will permanently delete all data in the collection.